body {
  color: #fff;
  background: #171F30;
  line-height: 150%;
}

.wrap {
  min-height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wrap .third {
  width: 33%;
  padding: 32px 0;
}

@media (max-width: 720px) {
  .wrap {
    flex-direction: column;
  }
  .wrap .third {
    width: auto;
  }
}

.title {
  font-family: sans-serif;
  line-height: 24px;
  display: block;
  padding: 8px 0;
}

.swatch {
  height: 32px;
  width: 90%;
  margin: 4px 0;
  border-radius: 4px;
}

#colorList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  display: block;
}
#colorList .swatch {
  border-radius: 0;
}
#colorList li {
  flex: 1;
}

#activeColor .swatch {
  width: 120px;
}

.readout {
  margin-top: 32px;
  line-height: 180%;
}

#values {
  font-family: monospace;
  line-height: 150%;
}

.link {
  margin-top: 16px;
}
.link a {
  color: MediumSlateBlue;
}

.colorEntry {
  border: 4px #fff;
  border-radius: .5em;
  padding: 4px;
}